.recipe-video img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Soluzione qui */

@media screen and (min-width: 768px) {
    #topbar {
        justify-content: start;
    }

    main {
        padding: 40px;
    }

    .recipe-origin {
        display: inline-block;
    }

    h2.recipe-name {
        font-size: 32px;
    }

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
    }

    .quick-notes ul li {
        width: calc(100%/3);
        font-size: 16px;
    }

    .social-networks .btn {
        padding-inline: 50px;
    }

    .ads {
        display: block;
    }

}